{% extends "base.html" %} {% block title %}Help{% endblock %} {% block content
%}
    <br>

    <h3 align="center">How To Use Our Page </h3>
    <style>
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url('https://c4.wallpaperflare.com/wallpaper/46/478/349/anime-anime-girls-comic-art-sky-blue-hd-wallpaper-preview.jpg');
  background-color: rgba(255, 255, 255, 0.486);
  background-blend-mode: overlay;
}
</style>
<br>

<iframe width="1100" height="600" src="https://www.youtube.com/embed/zya5DhI7k4g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <br>
    <br>

{% endblock %}