{% extends "base.html" %} {% block title %}Homepage{% endblock %} {% block content
%}
    <br>
    <h3 align="center">Most Popular</h3>

<br>
<form method="POST">
    <table class="table table-hover table-dark" id = "animetable">
        <thead>
            <tr>
                {% for header in table_headings %}
                <th> {{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for animes in data %}
                <td>{{animes.title }}</td>
                <td><img src={{ animes.img_url }} alt="" border=1 height=200 width=200/> </td>
                <td>{{animes.genre }}</td>
                <td>{{animes.episodes }}</td>
                <td>{{animes.score }}</td>
                    <td> <a href={{animes.link }}> Click me! </a> </td>

                <td><button class="btn btn-outline btn-success" name="add" value="{{ animes.uid }}" formmethod="POST" >Add</button></td>
            </tr>
        {% endfor %}
        </tbody>
</table>
</form>
{% endblock %}