{% extends "login_base.html" %} {% block content %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="\static\css\login.css" />
  </head>

  <div class="form-wrap">
    <div class="tabs">
      <h3 class="login-tab">Login</h3>
    </div>
    <!--.tabs-->

    <div class="tabs-content">
      <div id="signup-tab-content" class="active">
        <form class="signup-form" action="" method="POST">
          <input
            type="email"
            class="input"
            id="email"
            autocomplete="off"
            placeholder="Email"
          />
          <input
            type="password"
            class="input"
            id="user_pass"
            autocomplete="off"
            placeholder="Password"
          />
          <input type="submit" class="button" value="Sign Up" />
        </form>
        <!--.login-form-->
      </div>
      <!--.signup-tab-content-->
    </div>
    <!--.tabs-content-->
  </div>
  <!--.form-wrap-->
</html>
{% endblock %}
