{% extends "base.html" %} {% block title %}My Anime List{% endblock %} {% block content
%}
     <br>

    <style>
body {

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url('https://img.wallpapersafari.com/desktop/1536/864/3/5/aevOEW.jpg');
  background-color: rgba(255, 255, 255, 0.486);
  background-blend-mode: overlay;
}
</style>

<h3 align="center">My Animes</h3>
<center>
<form class="form-inline my-2 my-lg-0" method="GET">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" name="searchTextField">
    <button class="btn btn-outline btn-success">Submit</button>
</form>
</center>
<br>
<!--<form method="POST">-->
    <table class="table table-hover table-dark" id = "animetable">
        <thead>
            <tr>
                {% for header in table_headings %}
                <th> {{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for animes in data %}
                <td>{{animes.title }}</td>
                <td><img src={{ animes.img_url }} alt="" border=1 height=100% width=200/> </td>
                <td>{{animes.score }}</td>
                <td>{{animes.myscore }}</td>
                <td>{{animes.mycomment }}</td>
                <td><button href="#" data-toggle="modal" data-target="#modalupdate{{ animes.uid }}" class="btn btn-outline btn-success">Update</button></td>
                <form method="POST">
                    <td><button class="btn btn-outline btn-danger" name="remove" value="{{ animes.uid }}" formmethod="POST" >Remove</button></td>
                </form>
            </tr>
            <div class="modal fade" id="modalupdate{{ animes.uid }}"tabindex="-1" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 style="color:black;" class="modal-title">Update Rating and Review</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form method="POST">
                       <div class="form-group">
                       <label style="color:black; font-weight:bold;">My Rating:</label>
                        <input type="hidden" name="update_id" value="{{ animes.uid }}">
                        <select id="rating" type="text" name="myscore" class="form-control" value="{{ animes.myscore }}" placeholder="Rating">
                          {% for i in range(1, 11) %}
                          <option value="{{ i }}">{{ i }}</option>
                          {% endfor %}
                        </select>
                       </div>
                        <label style="color:black; font-weight:bold;">My Review:</label>
                       <div class="form-group">
                        <input type="text" name="mycomment" class="form-control" value="{{ animes.mycomment }}" placeholder="Review">
                       </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-outline btn-success" type="submit">Update</button>
                  </div>
                </form>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
        </tbody>
</table>


{% endblock %}