{% extends "base.html" %} {% block title %}My Anime List{% endblock %} {% block content
%}
     <br>
<h3 align="center">My Anime List</h3>

<br>
<form method="POST">
    <table class="table table-hover table-dark" id = "animetable">
        <thead>
            <tr>
                {% for header in table_headings %}
                <th> {{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for animes in data %}
                <td>{{animes.title }}</td>
                <td><img src={{ animes.img_url }} alt="" border=1 height=200 width=200/> </td>
                <td>{{animes.score }}</td>
                <td>{{animes.myscore }}</td>
                <td>{{animes.mycomment }}</td>
                <td><button class="btn btn-outline btn-success" name="update" value="{{ animes.uid }}" formmethod="POST" >Update</button></td>
                    <td><button class="btn btn-outline btn-danger" name="remove" value="{{ animes.uid }}" formmethod="POST" >Remove</button></td>
            </tr>
        {% endfor %}
        </tbody>
</table>
</form>

{% endblock %}